<h2><%= @question.body %></h2>
<h5>asked by <%= @user_question.username%></h5>

<% if !session[:user_id].nil? %>
	<% if @question.user_id == current_user.id%>

		<form action="/questions/<%= @question.id %>/edit" method="GET">
			<input type="submit" value="Edit Question">
		</form>

		<form action="/questions/<%= @question.id %>" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Delete Question">
		</form>
	<% else %>
		<form action="/questions/<%= @question.id %>/answers/new" method="get">
			<input type="submit" value="Answer this question">
		</form>	
	<% end %> 
<% end %>

<h3>All Answers:</h3>

<% @answers.each_with_index do |a, index| %>

	<% if !session[:user_id].nil? %>
		<% if a.user_id == current_user.id %>
	    	<p><%= "#{index + 1})  #{a.body}" %></p>
			<form action="/answers/<%= a.id %>/edit" method="GET">
			<input type="submit" value="Edit your answer">
			</form>

			<form action="/answers/<%= a.id %>" method="post">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete your answer">
			</form>
		<% else %>
  			<% user = User.find_by(id: a.user_id) %>
			<p><%= "#{index + 1})  #{a.body} &nbsp (#{user.username})" %></p>
		<% end %>
	<% else %>
		<% user = User.find_by(id: a.user_id) %>
		<p><%= "#{index + 1})  #{a.body} &nbsp (#{user.username})" %></p>
	<% end %>
<% end %>






